<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css_style/style.css}"/>
</head>
<body>
<h1>Register User</h1>
<form th:action="@{/registerUser}" th:object="${registerUserDto}" method="post">
    <div th:if="${#fields.hasErrors()}">
        <span class="validationError">
            Please correct the information.
        </span>
    </div>
    <div>
        Login:
        <input type="text" th:field="*{login}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('login')}"
              th:errors="*{login}">
        </span>
        <br/>
        Password:
        <input type="password" th:field="*{password}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('password')}"
              th:errors="*{password}">
        </span>
        <br/>
    </div>
    <input type="submit" value="Create"/>
</form>
<br/>
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color: red; font-style: italic;">
</div>
</body>
</html>